.container {
  width: auto;
  height: auto;
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  
  img {
    height: 25rem;
    width: 100%;
    object-fit: none;
  }
  
  article {
    max-width: 1120px;
    margin: 5rem auto 0;

    h1 {
      font-size: 3rem;
      margin-top: 5rem;
    }
  }
}

.infoContainer {
  small {
    display: inline-block;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: var(--info);
  }
}

.info {
  color: var(--info);
  font-size: 0.875rem;
  margin-top: 1.5rem;
  display: flex;
  
  svg {
    margin-right: 0.5rem;
  }
  
  time, span {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
  }
}

.content {
  div h1 {
    font-size: 2.25rem; 
    margin-bottom: 4rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 160%;
    margin-bottom: 2rem;
  }

  a {
    color: var(--highlight);
  }
}

.divisor {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--divisor);
  margin-top: 3rem;
}

.navigatePosts {
  margin-top: 2rem;
  display: flex;

  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;

    span {
      color: var(--heading);
      font-size: 1.125rem;
    }

    a {
      margin-top: 0.5rem;
      color: var(--highlight);
      font-size: 0.875rem;
      font-weight: bold;

      &.right {
        text-align: right;
      }
    }
  }
}